@import '_vars';
@import '_fonts';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
}

p {
    padding: 0px;
    margin: 0px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: $fw-regular;
}

body {
    @include Lato;
    font-size: $fs-xs;
    line-height: 24px;
    color: $color-primary-300;
}

.section-container {
    max-width: 1276px;
    margin: 0 auto;
    padding: 0px 15px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 11px 20px;
    max-width: 176px;
    width: 100%;
    text-align: center;
    line-height: 19px;
    border: 1px solid $color-primary-300;
    border-radius: 5px;
    z-index: 0;
    transition: $transition;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $color-primary-300;
        z-index: -1;
        transition: ease-in-out $transition;
    }
    &:hover {
        color: $color-primary-200;
        &::before {
            width: 100%;
        }
    }
}

.title__block {
    display: flex;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 8px;
        width: 32px;
        height: 32px;
        border: 3px solid #6c6c6c;
        border-radius: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        left: -39px;
        top: 19px;
        width: 16px;
        height: 16px;
        background-color: $color-primary-100;
        border-radius: 100%;
    }
    &-text {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: $fs-l;
        line-height: 50px;
        color: $color-primary-200;
        margin-bottom: 48px;
        span {
            color: $color-primary-100;
        }
    }
}

// === SLIDER ===
.slider {
    &__container {
        overflow: hidden;
        width: 49.5vw;
    }
    &__wrapper {
        display: flex;
        padding-bottom: 60px;
    }
}

// === SLIDER SLIDE ===
.slider__item {
    $parent: &;
    //////////////////
    position: relative;
    //////////////////
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    // /////////////////
    max-width: 283px;
    width: 100%;
    height: 282px;
    ///////////////////
    background-repeat: no-repeat;
    background-size: cover;
    //////////////////
    margin-top: auto;
    /////////////////
    filter: drop-shadow(0px 6px 14px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    transition: all $transition ease-in-out;
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        transition: all $transition ease-in-out;
        opacity: 0.3;
    }
    &::after {
        background: $color-primary-300;
        height: 100%;
        border-radius: 5px;
    }
    &::before {
        background: linear-gradient(2.71deg, rgba(0, 0, 0, 0.78) 1.78%, rgba(0, 0, 0, 0) 60.08%);
        height: 50%;
        bottom: 0;
    }
    &_active {
        position: relative;
        max-width: 320px;
        width: 100%;
        height: 319px;
        &::before {
            opacity: 1;
        }
        &::after {
            background: none;
        }
        #{$parent}-title {
            bottom: 13px;
            left: 12px;
        }
    }
    &-info {
        font-size: $fs-x-small;
        line-height: 24px;
        padding: 24px 16px;
        max-width: 251px;
    }
    &-title {
        font-weight: $fw-bold;
        color: $color-primary-200;
    }
    &-text {
        margin-top: 4px;
        color: darken($color-primary-200, 10%);
    }
}

// === SLIDER BUTTon ===
.slider__button {
    display: flex;
    &-next {
        margin-left: 16px;
    }
    &-next,
    &-prev {
        position: static;
        cursor: pointer;
        ////////////////
        border: 1px solid $color-primary-200;
        border-radius: 100%;
        ////////////////
        width: 64px;
        height: 64px;
        ////////////////
        display: flex;
        justify-content: center;
        align-items: center;
        ////////////////
        transition: all $transition ease-in-out;
        path {
            transition: all $transition ease-in-out;
        }
        &:hover {
            border-color: $color-primary-100;
            path {
                fill: $color-primary-100;
            }
        }
        &::after,
        &::before {
            font-size: 0;
        }
    }
}

// === MODIFIER-SLIDER ===
.slider_small-slide {
    .slider__item {
        $parent: &;
        max-width: 211px;
        height: 209px;
        &_active {
            max-width: 269px;
            height: 268px;
            #{$parent}-info {
                z-index: 1;
            }
        }
    }
}

.slider_no-active {
    .slider__item {
        max-width: 320px;
        height: 320px;
        &_active {
            max-width: 320px;
            height: 320px;
        }
    }
    .slider__button {
        justify-content: flex-end;
        &-next,
        &-prev {
            border: 1px solid $color-primary-300;
            path {
                fill: $color-primary-300;
            }
        }
    }
}

.slider_left-content {
    width: 30vw;
    .slider__button {
        justify-content: flex-end;
        &-next,
        &-prev {
            border: 1px solid $color-primary-300;
            path {
                fill: $color-primary-300;
            }
            &:hover {
                border: 1px solid $color-primary-100;
                path {
                    fill: $color-primary-100;
                }
            }
        }
    }
}

// === DAY SECTION ===
.day {
    &__wrapper {
        display: flex;
    }
    &__slider {
        // margin-top: auto;
    }
}

.day__slider,
.day__content {
    width: 50%;
}

.day__wrapper_left-slider {
    .day__slider {
        order: 0;
    }
    .day__content {
        order: 1;
    }
}

.day__wrapper_right-slider {
    .day__slider {
        order: 1;
    }
    .day__content {
        order: 0;
    }
}

.day__content {
    &-title {}
    &-text {
        line-height: 24px;
        &+& {
            margin-top: 35px;
        }
        &_distinguish {
            font-weight: $fw-Semi-bold;
            color: $color-primary-200;
        }
        &_underline {
            border-bottom: 1px solid $color-primary-300;
        }
    }
}

.day_light-bg {
    .slider__button-next,
    .slider__button-prev {
        border-color: $color-primary-300;
        path {
            fill: $color-primary-300;
        }
        &:hover {
            border-color: $color-primary-100;
            path {
                fill: $color-primary-100;
            }
        }
    }
    .day__content {
        &-text {
            color: $color-primary-300;
            &_underline {
                color: $color-primary-300;
            }
        }
        .title__block-text {
            color: $color-primary-300;
        }
    }
}

.day_dark-bg {
    .day__content {
        &-text {
            color: $color-secondary-50;
            .title__block-text {
                color: $color-primary-200;
            }
        }
    }
}

@import '_media';