@import '_vars';
@import '_fonts';
// 1199px
@media (max-width: $screen-lg-max) {
    // === GLOBAL ===
    .journey-time span {
        font-size: $base*6.75;
        line-height: $base*12.5;
    }
    // === HEADER ===
    .header-info {
        &__title {
            font-size: $base*12;
            line-height: $base*15;
        }
        &__journey-time {
            margin-bottom: $base*6.75;
        }
    }
    // === SEVENTH ===
    .seventh {
        &-content {
            &__title {
                max-width: 100%;
            }
            &__text {
                max-width: 100%;
            }
        }
        &-photo {
            display: none;
        }
    }
}

// 991px
@media (max-width: $screen-md-max) {
    // === GLOBAL ===
    .journey-time span {
        font-size: $base*5.75;
        line-height: $base*10;
    }
    .section-container {
        max-width: $base*321.5;
        padding: 0px $base*5;
    }
    .title-block {
        &::before,
        &::after {
            display: none;
        }
        &__text {
            margin-bottom: $base*9;
        }
    }
    .slider_right-content {
        &.slider-container {
            width: 94vw;
        }
        .slider {
            &-wrapper {
                padding-bottom: 0px;
            }
            &-item_active {
                max-width: $base*70.75;
                width: 100%;
                height: $base*70.5;
            }
        }
    }
    // === HEADER ===
    .header {
        height: $base*180;
        &-info__title {
            font-size: $base*10;
            line-height: $base*11.75;
        }
        &-top__button {
            margin-left: $base*3.75;
        }
        &-slider {
            width: 41%;
        }
    }
    // === MENU ===
    .menu-list__item+.menu-list__item {
        margin-left: 0px;
    }
    // === JOURNEY ===
    .journey {
        &-wrapper {
            background: none;
        }
        &-inner {
            height: $base*250;
        }
        &-content {
            bottom: $base*7.5;
        }
        &-title {
            display: none;
        }
        &-items {
            justify-content: space-between;
        }
        &-item {
            &+& {
                margin-left: $base*2.5;
            }
        }
    }
    // === FIRST DAY ===
    .first {
        height: $base*221.25;
        padding-top: $base*10;
        &-day-content {
            max-width: 100%;
        }
    }
    // === DAY ===
    .day {
        &-wrapper {
            flex-direction: column;
        }
        &-content {
            margin-bottom: $base*11.75;
        }
        &-slider,
        &-content {
            width: 100%;
        }
    }
    // === SECOND DAY ===
    .second {
        background-image: none;
        &::before {
            height: 20%;
            top: -7%;
        }
        &-content {
            flex-direction: column;
            &__slider {
                margin-left: 2%;
                width: 100%;
                .slider-button {
                    justify-content: flex-start;
                }
            }
            &__info {
                order: -1;
                margin-bottom: $base*10;
            }
        }
    }
    // === FIFTH SIXTH ===
    .fifth-sixth__wrapper {
        padding: 40px 0px 90px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        &::before,
        &::after {
            background-size: initial;
        }
    }
    // === THIRD DAY and FIFTH ===
    .thisd {
        .slider-button {
            display: none;
        }
    }
    .third,
    .fifth {
        padding-top: $base*10;
        padding-bottom: $base*10;
        height: 100%;
        .day-content {
            order: -1;
        }
        .day-slider {
            &_left {
                margin-left: 0px;
            }
            .slider {
                &_left-content {
                    &.slider-container {
                        width: 100%;
                        padding-left: 0px;
                    }
                }
                &-item {
                    &_active {
                        max-width: $base*70.75;
                        height: $base*70.5;
                    }
                }
            }
        }
    }
    // === FOURTH DAY ===
    .fourth {
        &::before,
        &::after {
            display: none;
        }
        padding: 40px 0px;
        .slider_right-content .slider-wrapper {
            padding-bottom: 80px;
        }
    }
    // === FIFTH ===
    .fifth {
        .day-content {
            order: -1;
        }
    }
    // === SIXTH ===
    .sixth {
        .slider-wrapper {
            padding-bottom: 60px;
        }
    }
    // === SEVENTH ===
    .seventh {
        &-slider {
            margin-left: 0%;
            width: 100%;
            .slider_left-content.slider-container {
                padding-left: 0%;
                width: 100%;
            }
        }
        &-info {
            order: -1;
            max-width: 100%;
        }
        &-information {
            flex-direction: column;
        }
    }
    // === EIGHTH ===
    .eighth {
        height: 500px;
        &-day-content {
            padding: 0px 10px;
        }
    }
    // === PRICE ===
    .price {
        padding-top: 50px;
        .extra {
            margin-top: 10px;
            &-item {
                &__title {
                    margin-left: 0px;
                }
                &__text {
                    margin-right: 0px;
                }
            }
        }
        .price-action {
            margin-top: 15px;
        }
        &-top {
            flex-direction: column;
            align-items: center;
            &__title {
                font-size: 50px;
            }
            &__link-items {
                margin-right: 0px;
            }
        }
        &-items {
            justify-content: space-between;
            padding-bottom: 60px;
        }
        &-item {
            &+& {
                margin-left: 0px;
            }
        }
    }
}

// 770px
@media (max-width: $screen-sm-max) {
    // === GLOBAL ===
    .burger {
        display: block;
    }
    .action-btn {
        display: flex;
        margin-bottom: 10%;
    }
    .slider-button {
        display: none;
    }
    .title-block__text {
        font-size: 23px;
        line-height: $base*8.75;
        margin-bottom: $base*5;
    }
    .action-btn {
        margin-bottom: 0%;
    }
    // === HEADER ===
    .header {
        .section-container {
            position: relative;
        }
        &-top__button {
            margin-right: $base*7.25;
        }
        &-info {
            position: static;
            height: auto;
            &__text {
                display: none;
            }
        }
        &-social {
            right: 20%;
            bottom: -1%;
            left: auto;
        }
        &-content {
            flex-direction: column;
        }
        &-slider {
            width: 100%;
            .slider {
                &-container {
                    width: 100vw;
                }
                &-item_active {
                    max-width: $base*52.75;
                    height: $base*52.25;
                }
            }
        }
    }
    // === MENU ===
    .menu-list {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        padding: $base*20 0px $base*7.5;
        flex-direction: column;
        text-align: center;
        background-color: $color-primary-200;
        transition: all $transition ease-in-out;
        &__item {
            padding: $base*7.5 0px;
            font-size: $base*7.5;
        }
    }
    // === JOURNEY ===
    .journey {
        padding-top: $base*17.5;
        &-inner {
            height: $base*228.75;
        }
        &-top {
            margin-bottom: $base*3.75;
            &__title {
                font-size: $fs-l;
                line-height: $base*10;
            }
        }
        &-text__title {
            font-size: $base*5;
            line-height: $base*6.25;
            margin-bottom: $base*3.75;
        }
        &-info {
            margin-bottom: $base*8.75;
        }
    }
    // === DAY ===
    .day-content__text {
        &+& {
            margin-top: $base*2.5;
        }
    }
    // === CARDS ===
    .cards {
        padding-top: $base*7.5;
    }
    // === FOURTH DAY ===
    .fourth {
        .slider_right-content .slider-wrapper {
            padding-bottom: 0px;
        }
    }
    // === SIXTH ===
    .sixth .slider-wrapper {
        padding-bottom: 0px;
    }
    // === EIGHTH ===
    .eighth {
        &-day-content {
            bottom: 16%;
            right: 0;
        }
        .title-block__text {
            font-size: 40px;
            line-height: 50px;
        }
        .day-content__text {
            font-size: 18px;
            line-height: 30px;
        }
    }
    // === PRICE ===
    .price {
        &-top {
            display: block;
            margin-bottom: 30px;
        }
        &-items {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-item {
            &+& {
                margin-top: 40px;
            }
        }
    }
}

// 576px
@media (max-width: $screen-xs-max) {
    // === GLOBAL ===
    .action-btn__icon {
        width: $base*12.5;
        height: $base*12.5;
    }
    .title-block__text {
        font-size: $base*6.25;
        line-height: $base*7.5;
    }
    .extra {
        margin-top: 15px;
        &-title {
            margin-bottom: 15px;
        }
        &-item {
            &__text {
                max-width: 216px;
                font-size: 14px;
                margin-right: 0px;
            }
            &__title {
                font-size: 15px;
                margin-left: 0px;
            }
        }
    }
    // === HEADER ===
    .header {
        &-social {
            bottom: -4%;
        }
        &-info {
            margin-top: 17%;
            &__journey-time {
                font-size: $base*7.5;
                line-height: $base*14;
                margin-bottom: $base*8;
            }
            &__title {
                font-size: $base*11.25;
                line-height: $base*15;
            }
        }
    }
    // === JOURNEY ===
    .journey {
        background-image: url(../images/default/journey-bg-mobile.png);
        &-inner {
            height: $base*237.5;
        }
        &-top__title {
            font-size: $base*8;
            line-height: $base*8.75;
        }
        &-content__title {
            font-size: $base*5;
            line-height: $base*6.5;
            margin-bottom: $base*3.75;
        }
        &-text {
            &__title {
                font-size: $fs-xs;
                line-height: $base*5;
                margin-bottom: $base*2.5;
            }
            &__word {
                font-size: $base*3.75;
            }
        }
        &-items {
            flex-wrap: wrap;
        }
        &-item {
            max-width: $base*37.5;
            margin-left: 0;
            flex-basis: 50%;
            margin-bottom: $base*10;
        }
    }
    // === DAY ===
    .day-content__text {
        font-size: $base*3.75;
    }
    // === SECOND DAY ===
    .second {
        padding-top: $base*8.75;
        &-top {
            margin-bottom: $base*3.75;
        }
    }
    // === THIRD AND FIFTH ===
    .fifth {
        padding-top: 0px;
    }
    .third,
    .fifth {
        padding-bottom: 0px;
        height: 100%;
    }
    // === SIXTH ===
    .sixth {
        padding-top: 0px;
    }
    // === SEVENTH ===
    .seventh {
        padding: 55px 0px 55px 0px;
        &-content {
            &__text {
                &+& {
                    margin-top: 10px;
                }
            }
        }
        &-slider {
            .slider-wrapper {
                padding-bottom: 0px;
                margin-top: 25px;
            }
        }
        &-information {
            margin-top: 10px;
        }
    }
    // === EIGHTH ===
    .eighth {
        height: 400px;
        &-day-content {
            bottom: 0%;
        }
        .title-block__text {
            font-size: 30px;
            line-height: 40px;
        }
    }
    // === PRICE ===
    .price {
        &-top {
            &__title {
                font-size: 25px;
                line-height: 15px;
            }
            .extra-item {
                padding: 20px 0px;
                &__title {
                    font-size: 16px;
                }
                &__text {
                    font-size: 17px;
                }
            }
            &__link-items {
                margin-top: 20px;
            }
            &__title {
                font-size: 30px;
            }
        }
    }
}

// 450px
@media (max-width: $screen-s-max) {
    // === GLOBAL ===
    .btn {
        max-width: $base*40;
    }
    .logo__image {
        max-width: $base*37.5;
    }
    .journey-time span {
        font-size: $fs-xs;
        line-height: $base*7.5;
    }
    .title-block__text {
        font-size: $base*5;
        line-height: $base*6.75;
        margin-bottom: $base*2.5;
    }
    // === HEADER ===
    .header {
        height: $base*155;
        &-top__button {
            margin-right: $base*5;
            margin-left: $base*1.25;
        }
        &-info {
            margin-top: 10%;
            &__journey-time {
                font-size: $base*5;
                line-height: $base*2.5;
                margin-bottom: $base*5;
            }
            &__title {
                font-size: $base*7.5;
                line-height: $base*10;
                margin-bottom: $base*3.75;
            }
        }
    }
    // === JOURNEY ===
    .journey {
        &-top__title {
            font-size: $base*6.25;
            line-height: $base*6.25;
        }
        &-text__word {
            font-size: $fs-x-small;
        }
        &-content {
            &__title {
                font-size: $fs-xs;
                line-height: $base*5;
            }
            &__text {
                font-size: $fs-x-small;
            }
        }
    }
    // === DAY ===
    .day-content__text {
        font-size: $fs-x-small;
    }
    // === FIRST DAY ===
    .first {
        height: $base*220;
    }
    // === SECOND DAY ===
    .second {
        &-wrapper {
            font-size: $base*3.75;
        }
        &-top__text {
            &+& {
                margin-top: $base*3.75;
            }
        }
        &-content__text {
            &+& {
                margin-top: $base*3.75;
            }
        }
    }
    // === PRICE ===
    .price {}
}

@media (max-width: 350px) {
    // === GLOBAL ===
    .section-container {
        padding: 0px $base*3.75;
    }
    .btn {
        padding: $base*2 $base*2.25;
        max-width: $base*32.5;
    }
    // === HEADER ===
    .header {
        &-top__button {
            margin-right: $base*2.5;
        }
        &-info {
            margin-top: $base*2.5;
            &__title {
                font-size: $base*6.75;
                line-height: $base*8.75;
            }
        }
    }
    // === MENU ===
    .menu-list {
        padding: $base*15 0px $base*5;
        &__item {
            padding: $base*3.75 0px;
            font-size: $base*5;
        }
    }
    // === JOURNEY ===
    .journey {
        &-top__title {
            font-size: $base*5;
        }
        &-text__title {
            font-size: $base*3.75;
            line-height: $base*4.5;
        }
        &-item {
            &+& {
                margin-left: 0px;
            }
            &__title {
                font-size: $fs-x-small;
            }
        }
    }
    // === FIRST DAY ===
    .first {
        height: $base*240;
    }
    // === EIGHTH ===
    .eighth {
        height: 300px;
        .title-block__text {
            font-size: 20px;
            line-height: 30px;
        }
        .day-content__text {
            font-size: 15px;
            line-height: 20px;
        }
    }
    // === PRICE ===
    .price {
        &-top__title {
            font-size: 25px;
            line-height: 15px;
        }
    }
}