// === FUNCTIOn ===
@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}

// === MIXIN ===
@mixin input {
    padding: $base*3.25 $base*2;
    font-weight: $fw-regular;
    font-size: $base*5;
    border-bottom: 1px solid $color-primary-300;
    color: $color-primary-300;
    &::placeholder {
        color: $color-secondary-500;
    }
}

@mixin title {
    @include Montserrat;
    font-weight: $fw-bold;
    font-size: $fs-xxl-big;
    line-height: 72px;
}

// === FONT-FAMILY ==
@mixin Lato {
    font-family: 'Lato', sans-serif;
}

@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}

// === BASE ===
$base: rem(4px);
// === ANIMATION ===
$transition: 0.3s;
// === FONT-WEIGHT ===
$fw-medium: 500;
$fw-regular: 400;
$fw-Semi-bold: 600;
$fw-bold: 700;
$fw-heavy: 900;
// === COLOR ===
$color-primary-50: #275553;
$color-primary-100: #F47648;
$color-primary-200: #FFFFFF;
$color-primary-300: #212121;
$color-primary-400: #5A5A5A;
$color-primary-500: #BABABA;
/////
$color-secondary-50: #ACACAC;
$color-secondary-100:#000000;
$color-secondary-200:#313131;
$color-secondary-300:#D3E7E3;
$color-secondary-400:#363636;
$color-secondary-500:#DEDEDE;
$color-secondary-500:#999999;
// === FONT-SIZE ===
$fs-x-small: rem(14px);
$fs-xs: rem(16px);
$fs-s: rem(18px);
$fs-m: rem(24px);
$fs-l: rem(40px);
$fs-xxl: rem(56px);
$fs-xxl-big: rem(64px);
// === ADAPTIVE ===
// $screen-sm: 576px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
//////////
// $screen-s-max: 450px;
// $screen-xs-max: 576px;
// $screen-sm-max: 770px;
// $screen-md-max: 991px;
// $screen-lg-max: 1199px;