// === MIXIN ===
@mixin input {
    padding: 13px 8px;
    font-weight: $fw-regular;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid $color-primary-300;
    color: $color-primary-300;
    &::placeholder {
        color: #999999;
    }
}

// === FONT-FAMILY ==
@mixin Lato {
    font-family: 'Lato', sans-serif;
}

@mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
}

// === ANIMATION ===
$transition: 0.3s;
// === FONT-WEIGHT ===
$fw-medium: 500;
$fw-regular: 400;
$fw-Semi-bold: 600;
$fw-bold: 700;
$fw-heavy: 900;
// === COLOR ===
$color-primary-50: #275553;
$color-primary-100: #F47648;
$color-primary-200: #FFFFFF;
$color-primary-300: #212121;
$color-primary-400: #5A5A5A;
$color-primary-500: #BABABA;
/////
$color-secondary-50: #ACACAC;
$color-secondary-100:#000000;
$color-secondary-200:#313131;
$color-secondary-300:#D3E7E3;
// === FONT-SIZE ===
$fs-x-small: 14px;
$fs-xs: 16px;
$fs-s: 18px;
$fs-m: 24px;
$fs-l: 40px;
$fs-xxl: 56px;
$fs-xxl-big: 64px;