@import '_vars';
@import '_global';
@import '_fonts';
// === HEADER ===
.header {
    background: url(../images/upload/bg.jpg) top center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    &-menu {
        margin-left: auto;
    }
    &-button {
        margin-left: 56px;
    }
}

// === MENU ===
.menu__list {
    display: flex;
}

.menu__list-item {
    position: relative;
    padding: 10px;
    line-height: 19px;
    transition: all $transition;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0%;
        height: 2px;
        background-color: $color-primary-100;
        transition: all $transition;
    }
    &:hover::before {
        width: 100%;
    }
    &+& {
        margin-left: 46px;
    }
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__info {
    position: relative;
    height: 80vh;
    max-width: 616px;
    margin-top: 53px;
    color: $color-primary-200;
    &-title {
        @include Montserrat;
        font-weight: $fw-heavy;
        font-size: $fs-xxl;
        line-height: 64px;
        margin-bottom: 25px;
    }
    &-date {
        display: inline-block;
        background: linear-gradient(91.82deg, #FB8B62 5.83%, #F47648 89.73%), #F47648;
        border-radius: 16px;
        text-align: center;
        padding: 2px 24px;
        margin-bottom: 40px;
        span {
            @include Montserrat;
            font-weight: $fw-bold;
            font-size: 30px;
            line-height: 56px;
        }
    }
    &-text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 14px;
    }
}

.header__info-schedule {
    $parent: &;
    display: inline-flex;
    align-items: center;
    font-size: $fs-s;
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        margin-left: 18px;
        border-radius: 100%;
        border: 1px solid $color-primary-200;
        transition: all $transition;
        path {
            transition: all $transition;
        }
    }
    &:hover {
        color: $color-primary-100;
        #{$parent}-icon {
            border-color: $color-primary-100;
            path {
                fill: $color-primary-100;
            }
        }
        .text-underline_light {
            transition: all $transition;
            border-bottom-color: $color-primary-100;
        }
    }
}

.header__info-social {
    position: absolute;
    bottom: 15%;
    left: 0;
    &-item {
        &+& {
            margin-left: 25px;
        }
        path {
            transition: all $transition;
        }
        &:hover path {
            fill: $color-primary-100
        }
    }
}

.header__info,
.header__slider {
    width: 50%;
}

.header__slider {
    margin-top: auto;
    margin-bottom: 4.5%;
}

// === JOURNEY ===
.journey {
    background: url(../images/default/journey-bg.png) no-repeat bottom center;
    background-size: contain;
    padding-top: 120px;
    &__inner {
        position: relative;
        height: 1407px;
    }
    &__wrapper {
        background-repeat: no-repeat;
        background-position: right -40% center;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }
}

.journey__title {
    @include Montserrat;
    font-size: 150px;
    font-weight: $fw-bold;
    color: $color-primary-400;
    position: absolute;
    top: 37%;
    right: -11%;
    z-index: 0;
    opacity: 0.3;
}

.journey__top {
    max-width: 728px;
    margin-bottom: 27px;
    &-title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: 48px;
        line-height: 56px;
    }
}

.journey__info {
    max-width: 597px;
    margin-bottom: 64px;
    opacity: 0.6;
    &-title {
        font-size: $fs-m;
        line-height: 32px;
        margin-bottom: 35px;
    }
    &-text {
        font-weight: $fw-regular;
        font-size: $fs-xs;
        opacity: 0.8;
    }
}

.journey__items {
    display: flex;
}

.journey__item {
    &+& {
        margin-left: 64px;
    }
    &-icon img {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
    &-text {
        @include Montserrat;
        font-size: $fs-x-small;
        opacity: .8;
    }
    &-title {
        font-weight: $fw-bold;
        font-size: $fs-xs;
    }
}

.journey__content {
    position: absolute;
    bottom: 147px;
    color: $color-primary-200;
    &-title {
        @include Montserrat;
        font-weight: $fw-Semi-bold;
        font-size: $fs-m;
        line-height: 32px;
        margin-bottom: 32px;
        max-width: 662px;
    }
    &-text {
        font-size: $fs-xs;
        line-height: 19px;
        color: #DEDEDE;
        margin-bottom: 13px;
        max-width: 293px;
    }
    &-author {
        font-weight: $fw-medium;
        line-height: 19px;
    }
}

// === FIRST ===
.first {
    height: 889px;
    padding-top: 80px;
    background: url(../images/default/arrive-bg.jpg) no-repeat bottom center;
    background-size: cover;
    &-day-content {
        max-width: 461px;
    }
    .day__wrapper {
        justify-content: space-between;
        align-items: center;
    }
}

// === SECOND ===
.second {
    position: relative;
    padding-top: 80px;
    background: url(../images/default/second-bg.png) no-repeat top right;
    &::before {
        content: "";
        position: absolute;
        background: url(../images/default/clouds.png) no-repeat bottom center;
        background-size: contain;
        width: 100%;
        height: 31%;
        top: -13%;
    }
}

.second__top {
    margin-bottom: 64px;
    &-title {
        max-width: 856px;
        margin-bottom: 48px;
        .title__block-text {
            color: inherit;
        }
    }
    &-text {
        &+& {
            margin-top: 30px;
        }
        max-width: 548px;
    }
}

.second__content {
    display: flex;
    justify-content: space-between;
    &-slider {
        margin-top: auto;
    }
    &-info {
        max-width: 478px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-text {
        &+& {
            margin-top: 30px;
        }
    }
}

.second__content-slider,
.second__content-info {
    width: 50%;
}

// === CARDS ===
.cards {
    padding-top: 104px;
    &__items {
        display: flex;
        justify-content: space-between;
    }
}

.cards__item {
    margin-bottom: 32px;
    &+& {
        margin-left: 32px;
    }
    max-width: 288px;
    background: $color-primary-200;
    box-shadow: 0px 6px 14px rgba($color-secondary-100, 0.1);
    border-radius: 5px;
    transition: box-shadow .4s ease-in-out;
    &-img img {
        border-radius: 5px 5px 0px 0px;
    }
    &-info {
        padding: 34px 24px 32px 24px;
    }
    &-title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: $fs-s;
        margin-bottom: 14px;
    }
    &-text {
        font-size: $fs-x-small;
        color: $color-primary-400;
    }
    &:hover {
        box-shadow: 0px 6px 20px rgba($color-secondary-100, 0.3);
    }
}

// === THIRD ===
.third-day-content {
    max-width: 505px;
}

.third {
    height: 796px;
    padding-top: 72px;
    background: url(../images/default/111.jpg) no-repeat bottom center;
    background-size: contain;
    margin-bottom: -3px;
    .day__wrapper {
        justify-content: space-between;
    }
}

// === FOURTH ===
.fourth {
    padding: 165px 0px;
    background: $color-secondary-100;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url(../images/default/eagle.png) no-repeat;
        width: 530px;
        height: 299px;
        top: -20%;
        left: -9%;
        z-index: 1;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -9%;
        right: 9%;
        background: url(../images/default/gull.png) no-repeat;
        width: 373px;
        height: 315px;
        z-index: 2;
    }
    &-day-content {
        .title-block {
            max-width: 533px;
        }
        .day__content-text {
            max-width: 461px;
        }
    }
    .day__wrapper {
        align-items: center;
    }
}

.fifth-sixth__wrapper {
    height: 1505px;
    padding: 124px 0px 90px;
    background: url(../images/default/fifth-sixth-bg.jpg) round;
    background-size: contain;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }
    &::before {
        background-image: url(../images/default/fifth-top.png);
        background-position: top center;
        top: -1px;
    }
    &::after {
        background-image: url(../images/default/fifth-bottom.png);
        background-position: bottom center;
        bottom: 0;
    }
}

// === FIFTH ===
.fifth {
    &-day-content {
        z-index: 2;
        max-width: 461px;
        .day__content-text {
            color: $color-primary-200;
        }
    }
    .day__wrapper {
        justify-content: space-between;
    }
    .slider__button-next,
    .slider__button-prev {
        border-color: $color-primary-200;
        path {
            fill: $color-primary-200;
        }
    }
    .day__slider {
        z-index: 2;
    }
}

// === SIXTH ===
.sixth {
    padding-top: 90px;
    &-day-content {
        z-index: 2;
        max-width: 506px;
        .day__content-text {
            color: $color-primary-200;
        }
    }
    .day__wrapper {
        justify-content: space-between;
        align-items: center
    }
    .day__slider {
        z-index: 2;
    }
}

// === SEVENTH ===
.seventh {
    padding-top: 116px;
    padding-bottom: 57px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: url(../images/default/clouds.png) no-repeat bottom center;
        background-size: cover;
        width: 100%;
        height: 36%;
        top: -13%;
    }
    &__wrapper {}
    &__top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content {
        &-title {
            max-width: 708px;
            .title__block-text {
                color: #212121;
            }
        }
        &-text {
            max-width: 548px;
            &+& {
                margin-top: 35px;
            }
        }
    }
    &__photo {}
}

.seventh__information {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    .slider_left-content {
        width: 50vw;
    }
}

.seventh__info {
    max-width: 481px;
    &-text {
        margin-bottom: 48px;
        color: $color-secondary-200;
    }
}

// === EIGHTH ===
.eighth {
    background: url(../images/default/eighth-bg.png) no-repeat top center;
    background-size: cover;
    height: 718px;
    position: relative;
    &-wrapper {}
    &-day-content {
        position: absolute;
        bottom: 16%;
        right: 3%;
        max-width: 504px
    }
}

@import '_media';