@import '_vars';
@import '_global';
@import '_fonts';
// === HEADER ===
.header {
    background: url(../images/upload/bg.jpg) top center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    &-content {
        display: flex;
        justify-content: space-between;
    }
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    &__menu {
        margin-left: auto;
    }
    &__button {
        margin-left: 56px;
    }
}

.header-info {
    position: relative;
    height: 80vh;
    max-width: 616px;
    margin-top: 53px;
    color: $color-primary-200;
    &__title {
        @include Montserrat;
        font-weight: $fw-heavy;
        font-size: $fs-xxl;
        line-height: 64px;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 14px;
        max-width: 384px;
    }
    &__journey-time {
        margin-bottom: 40px;
    }
}

.header-social {
    position: absolute;
    bottom: 15%;
    left: 0;
    .social__item+.social__item {
        margin-left: 25px;
    }
}

.header-slider {
    margin-top: auto;
    margin-bottom: 4.5%;
    &,
    .header-slider {
        width: 50%;
    }
}

// === MENU ===
.menu-list {
    display: flex;
    &__item {
        position: relative;
        padding: 10px;
        line-height: 19px;
        transition: all $transition ease-in-out;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0%;
            height: 2px;
            background-color: $color-primary-100;
            transition: all $transition ease-in-out;
        }
        &:hover::before {
            width: 100%;
        }
        &+& {
            margin-left: 46px;
        }
    }
}

// === JOURNEY ===
.journey {
    background: url(../images/default/journey-bg.png) no-repeat bottom center;
    background-size: contain;
    padding-top: 120px;
    &-inner {
        position: relative;
        height: 1407px;
    }
    &-wrapper {
        background: url(../images/default/journey-plane.png) no-repeat right -40% center;
        height: 100%;
        overflow: hidden;
        z-index: 5;
    }
}

.journey-top {
    max-width: 728px;
    margin-bottom: 27px;
    &__title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: 48px;
        line-height: 56px;
    }
}

.journey-info {
    margin-bottom: 64px;
}

.journey-text {
    max-width: 597px;
    opacity: 0.6;
    &__title {
        font-size: $fs-m;
        line-height: 32px;
        margin-bottom: 35px;
    }
    &__word {
        font-weight: $fw-regular;
        font-size: $fs-xs;
        opacity: 0.8;
    }
}

.journey-items {
    display: flex;
}

.journey-item {
    &+& {
        margin-left: 64px;
    }
    &__icon img {
        width: 32px;
        height: 32px;
        margin-bottom: 8px;
    }
    &__text {
        @include Montserrat;
        font-size: $fs-x-small;
        opacity: .8;
    }
    &__title {
        font-weight: $fw-bold;
        font-size: $fs-xs;
    }
}

.journey-title {
    @include Montserrat;
    font-size: 150px;
    font-weight: $fw-bold;
    color: $color-primary-400;
    position: absolute;
    top: 37%;
    right: -11%;
    z-index: 0;
    opacity: 0.3;
}

.journey-content {
    position: absolute;
    bottom: 147px;
    color: $color-primary-200;
    line-height: 19px;
    &__title {
        @include Montserrat;
        font-weight: $fw-Semi-bold;
        font-size: $fs-m;
        line-height: 32px;
        max-width: 662px;
        margin-bottom: 32px;
    }
    &__text {
        font-size: $fs-xs;
        color: $color-secondary-500;
        max-width: 293px;
        margin-bottom: 13px;
    }
    &__author {
        font-weight: $fw-medium;
        transition: all $transition ease-in-out;
        span {
            cursor: pointer;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0%;
                height: 1.5px;
                bottom: -2px;
                background-color: $color-primary-200;
                transition: all $transition ease-in-out;
            }
            &:hover::before {
                width: 100%;
            }
        }
    }
}

// === FIRST ===
.first {
    height: 889px;
    padding-top: 80px;
    background: url(../images/default/arrive-bg.jpg) no-repeat bottom center;
    background-size: cover;
    &-day-content {
        max-width: 461px;
    }
    .day-wrapper {
        justify-content: space-between;
        align-items: center;
    }
}

// === SECOND ===
.second {
    position: relative;
    padding-top: 80px;
    background: url(../images/default/second-bg.png) no-repeat top right;
    &::before {
        content: "";
        position: absolute;
        background: url(../images/default/clouds.png) no-repeat bottom center;
        background-size: cover;
        width: 100%;
        height: 32%;
        top: -12%;
    }
    .section-container {
        // position: relative;
    }
}

.second-top {
    margin-bottom: 64px;
    &__title {
        max-width: 856px;
        .title-block__text {
            color: inherit;
        }
    }
    &__text {
        max-width: 548px;
        &+& {
            margin-top: 30px;
        }
    }
}

.second-content {
    display: flex;
    justify-content: space-between;
    &__slider {
        margin-top: auto;
        margin-left: -29%;
        width: 83%;
        .slider-container {}
    }
    &__info {
        max-width: 478px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__text {
        &+& {
            margin-top: 30px;
        }
    }
}

// .second-content__slider,
// .second-content__info {
//     width: 50%;
// }
// === CARDS ===
.cards {
    padding-top: 104px;
    &-items {
        display: flex;
        justify-content: space-between;
    }
}

.cards-item {
    margin-bottom: 32px;
    &+& {
        margin-left: 32px;
    }
    max-width: 288px;
    background: $color-primary-200;
    box-shadow: 0px 6px 14px rgba($color-secondary-100, 0.1);
    border-radius: 5px;
    transition: box-shadow .4s ease-in-out;
    &__img img {
        border-radius: 5px 5px 0px 0px;
        max-width: 288px;
        width: 100%;
        max-height: 161px;
        height: 100%;
    }
    &__info {
        padding: 34px 24px 32px 24px;
    }
    &__title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: $fs-s;
        margin-bottom: 14px;
    }
    &__text {
        font-size: $fs-x-small;
        color: $color-primary-400;
    }
    &:hover {
        box-shadow: 0px 6px 20px rgba($color-secondary-100, 0.3);
    }
}

// === THIRD ===
.third-day-content {
    max-width: 505px;
}

.third {
    height: 796px;
    padding-top: 72px;
    background: url(../images/default/111.jpg) no-repeat bottom center;
    background-size: contain;
    margin-bottom: -3px;
    .day-wrapper {
        justify-content: space-between;
        align-items: center;
    }
}

// === FOURTH ===
.fourth {
    padding: 165px 0px;
    background: $color-secondary-100;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        background: url(../images/default/eagle.png) no-repeat;
        width: 530px;
        height: 299px;
        top: -20%;
        left: -9%;
        z-index: 1;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -9%;
        right: 9%;
        background: url(../images/default/gull.png) no-repeat;
        width: 373px;
        height: 315px;
        z-index: 2;
    }
    &-day-content {
        .title-block {
            max-width: 533px;
        }
        .day-content__text {
            max-width: 461px;
        }
    }
    .day-wrapper {
        align-items: center;
    }
}

// === FIFTH_SIXTH ===
.fifth-sixth__wrapper {
    height: 1505px;
    padding: 124px 0px 90px;
    background: url(../images/default/fifth-sixth-bg.jpg) round;
    background-size: contain;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 0;
    }
    &::before {
        background-image: url(../images/default/fifth-top.png);
        background-position: top center;
        top: -1px;
    }
    &::after {
        background-image: url(../images/default/fifth-bottom.png);
        background-position: bottom center;
        bottom: 0;
    }
}

// === FIFTH ===
.fifth {
    &-day-content {
        z-index: 2;
        max-width: 461px;
        .day-content__text {
            color: $color-primary-200;
        }
    }
    .day {
        &-wrapper {
            justify-content: space-between;
            align-items: center;
        }
        &-slider {
            z-index: 2;
        }
    }
    .slider-button__next,
    .slider-button__prev {
        border-color: $color-primary-200;
        path {
            fill: $color-primary-200;
        }
    }
}

// === SIXTH ===
.sixth {
    padding-top: 90px;
    &-day-content {
        z-index: 2;
        max-width: 506px;
        .day-content__text {
            color: $color-primary-200;
        }
    }
    .day {
        &-wrapper {
            justify-content: space-between;
            align-items: center;
        }
        &-slider {
            z-index: 2;
        }
    }
}

// === SEVENTH ===
.seventh {
    padding: 116px 0px 57px 0px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: url(../images/default/clouds.png) no-repeat center;
        background-size: cover;
        width: 100%;
        height: 22%;
        top: -7%;
    }
    &-top__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        z-index: 2;
        &__title {
            max-width: 708px;
            .title-block__text {
                color: $color-primary-300;
            }
        }
        &__text {
            max-width: 548px;
            &+& {
                margin-top: 35px;
            }
        }
    }
    &-photo {
        position: absolute;
        top: 15%;
        right: 0;
        img {
            max-width: 665px;
            width: 100%;
            max-height: 466px;
            height: 100%;
            object-fit: cover;
        }
        &::before {
            content: "";
            position: absolute;
            background: url(../images/default/seventh-img-bg.png) no-repeat;
            background-size: cover;
            /////////////////
            width: 164%;
            height: 164%;
            top: -50%;
            left: -64%;
            /////////////////
        }
    }
    &-slider {
        margin-top: auto;
        margin-left: -45%;
        width: 105%;
        .slider-container {}
    }
}

.seventh-information {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    // .slider_left-content {
    //     width: 50vw;
    // }
}

.seventh-info {
    max-width: 481px;
    &__text {
        margin-bottom: 48px;
        color: $color-secondary-200;
    }
}

// === EIGHTH ===
.eighth {
    background: url(../images/default/eighth-bg.png) no-repeat top center;
    background-size: cover;
    height: 718px;
    position: relative;
    &-day-content {
        position: absolute;
        bottom: 16%;
        right: 3%;
        max-width: 504px
    }
}

// === PRICE ===
.price {
    padding-top: 120px;
    &-wrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 4px;
            background-color: $color-primary-300;
            bottom: 0;
            left: 0;
        }
    }
    &-action {
        margin-top: 90px;
    }
}

.price-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 56px;
    &__title {
        @include title;
        color: $color-primary-300;
        margin-bottom: 76px;
    }
    .extra-item {
        padding: 47px 0px;
        &__title {
            font-weight: $fw-regular;
            font-size: 20px;
        }
        &__text {
            font-weight: $fw-bold;
            font-size: $fs-m;
            color: $color-secondary-100;
            opacity: 1;
        }
    }
}

.price-top__link-items {
    margin-right: 79px;
}

.price-top__link-item {
    font-size: $fs-s;
    color: $color-primary-100;
    &+& {
        margin-top: 24px;
    }
    .text-underline_dark {
        border-bottom-color: $color-primary-100;
    }
    &:hover {
        color: $color-primary-300;
        .text-underline_dark {
            border-bottom-color: $color-primary-300;
        }
    }
}

.price-items {
    display: flex;
    padding-bottom: 134px;
}

.price-item {
    max-width: 350px;
    &+& {
        margin-left: 80px;
    }
    &__title {
        position: relative;
        margin-bottom: 20px;
        padding-left: 35px;
        font-weight: $fw-bold;
        font-size: $fs-m;
        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__list-text {
        position: relative;
        padding-left: 14px;
        color: $color-secondary-200;
        &+& {
            margin-top: 16px;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $color-secondary-300;
        }
    }
}

.price-item_green {
    .price-item__title {
        color: $color-primary-50;
        &:before {
            background: url(../images/icon/tick.svg) no-repeat;
        }
    }
}

.price-item_black {
    .price-item__title::before {
        background: url(../images/icon/money.svg) no-repeat;
    }
}

// === REQUEST ===
.request {
    padding: 96px 0px;
    background: url(../images/default/request-bg.png) no-repeat bottom center;
    background-size: contain;
    &-wrapper {
        input {
            transition: all $transition ease-in-out;
            &:focus {
                border-color: $color-primary-100;
            }
        }
    }
    &-order {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    &-content__title {
        margin-bottom: 18px;
    }
    &-info__title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 30px;
    }
    &-content,
    &-form-inner {
        width: 50%;
    }
}

.request-social {
    display: flex;
    &__item {
        &+& {
            margin-left: 32px;
        }
        &-link svg {
            width: 30px;
            height: 30px;
            path {
                transition: all $transition ease-in-out;
                fill: $color-secondary-100;
            }
        }
        &:hover path {
            fill: $color-primary-100;
        }
    }
}

.request-form-top {
    display: flex;
    p {
        margin-bottom: 16px;
    }
}

.request-form__name input,
.request-form__count input {
    @include input;
    min-width: 260px;
    width: 100%;
}

.request-form__count {
    position: relative;
    margin-left: 44px;
    input {
        cursor: default;
    }
}

.btn-minus,
.btn-plus {
    position: absolute;
    width: 23px;
    height: 30px;
    cursor: pointer;
}

.btn {
    &-minus {
        background: url(../images/icon/less.svg) no-repeat;
        top: 73%;
        right: 40px;
    }
    &-plus {
        background: url(../images/icon/more.svg) no-repeat;
        top: 64%;
        right: 0;
    }
}

.request {
    &-tariff {
        margin: 48px 0px 35px 0px;
    }
    &-item {
        display: flex;
        align-items: center;
        &+& {
            margin-top: 35px;
        }
    }
}

.radio-btn {
    display: none;
    &:checked+.radio-btn__fake:before {
        opacity: 1;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        color: $color-secondary-100;
        margin-left: 10px;
        width: 100%;
    }
    &__text {
        font-size: $fs-s;
        cursor: pointer;
    }
    &__price {
        font-weight: $fw-bold;
        font-size: 20px;
    }
}

.radio-btn__fake {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid $color-primary-50;
    border-radius: 100%;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: $color-primary-50;
        border-radius: 100%;
        transition: opacity $transition ease-in-out;
        opacity: 0;
    }
}

.request-date {
    margin-bottom: 37px;
    &__input {
        @include input;
        padding-left: 0px;
        &::-webkit-calendar-picker-indicator {
            background: url(../images/icon/date.svg) no-repeat;
            cursor: pointer;
        }
    }
}

.request-comment {
    margin-bottom: 49px;
    &__input {
        @include input;
        width: 100%;
        &::placeholder {
            color: #999999;
        }
    }
}

.request-btn {
    display: block;
    margin-left: auto;
}

.request-knowledge {
    height: 666px;
    display: flex;
    align-items: flex-end;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__img {
        margin-left: -13%;
        img {
            max-width: 356px;
            width: 100%;
            max-height: 332px;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        color: $color-primary-200;
        margin-left: 95px;
    }
    &__title {
        @include Montserrat;
        font-weight: $fw-bold;
        font-size: 36px;
        line-height: 48px;
        margin-bottom: 8px;
    }
    &__text {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 32px;
    }
    &__input {
        @include input;
        border-bottom-color: $color-primary-200;
        padding-left: 0px;
        max-width: 564px;
        width: 100%;
        color: #999999;
    }
    &__btn {
        margin-left: 23px;
    }
}

// === ABOUT ===
.about {
    padding: 120px 0px 113px;
}

.about-top {
    margin-bottom: 79px;
    &__title {
        @include title;
        max-width: 960px;
        margin-bottom: 59px;
    }
    &__text {
        max-width: 511px;
        opacity: 0.8;
    }
}

.about-slider {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.about-item {
    &__img {
        img {
            width: 352px;
            height: 466px;
            object-fit: cover;
        }
    }
    &__info {
        display: flex;
        font-size: $fs-s;
        margin-top: 24px;
    }
    &__name {
        font-weight: $fw-Semi-bold;
        margin-right: 5px;
    }
    &__instagram {
        color: $color-primary-100;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 2px;
            background-color: $color-primary-100;
            bottom: -2px;
            transition: all $transition ease-in-out;
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.about-button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    &__next {
        margin-left: 16px;
    }
    &__prev,
    &__next {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-primary-300;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        transition: all $transition ease-in-out;
        path {
            transition: all $transition ease-in-out;
            fill: $color-primary-300;
        }
        &:hover {
            border-color: $color-primary-100;
            path {
                fill: $color-primary-100;
            }
        }
    }
}

// === FOOTER ===
.footer {
    background-color: $color-primary-300;
    padding-top: 63px;
    &-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 47px;
        &__item {
            padding: 0px 15px;
            &:last-child {
                padding: 0px 0px 0px 15px;
            }
        }
    }
}

.footer-menu {
    &__logo {
        margin-bottom: 40px;
    }
    &__item {
        color: $color-primary-500;
        transition: all $transition ease-in-out;
        &:hover {
            color: $color-primary-100;
        }
        &+& {
            margin-top: 16px;
        }
    }
}

.footer-instagram {
    max-width: 364px;
    width: 100%;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    &__account {
        @include Montserrat;
        font-weight: $fw-bold;
        line-height: 28px;
        color: $color-primary-500;
        transition: all $transition ease-in-out;
        &:hover {
            color: $color-primary-100;
        }
    }
    &__subscribe {
        color: $color-primary-200;
        border-color: $color-primary-200;
        &::before {
            background-color: $color-primary-100;
        }
    }
    &__photo {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 5.5px;
        transition: all $transition ease-in-out;
        &:hover {
            box-shadow: 0px 0px 6px 2px rgba(255, 255, 255, 0.2);
        }
        img {
            width: 105.36px;
            height: 112.81px;
            object-fit: cover;
        }
    }
}

.footer-recall {
    max-width: 338px;
    width: 100%;
    &__top {
        display: flex;
        margin-bottom: 46px;
    }
    &__info {
        margin-left: 18px;
    }
    &__img img {
        max-width: 63px;
        width: 100%;
        max-height: 102px;
        height: 100%;
        object-fit: cover
    }
    &__title {
        @include Montserrat;
        font-weight: $fw-Semi-bold;
        color: $color-primary-200;
        margin-bottom: 6px;
    }
    &__instagram-link {
        color: $color-primary-500;
        transition: all $transition ease-in-out;
        &:hover {
            color: $color-primary-100;
        }
    }
    &__social {
        &-title {
            @include Montserrat;
            font-weight: $fw-Semi-bold;
            color: $color-primary-200;
            margin-bottom: 8px;
        }
        &-items {
            display: flex;
        }
        &-item {
            width: 24px;
            height: 24px;
            fill: $color-primary-500;
            transition: all $transition ease-in-out;
            &:hover {
                fill: $color-primary-100;
            }
            &+& {
                margin-left: 16px;
            }
        }
    }
}

.footer-contact {
    max-width: 221px;
    width: 100%;
    &__top {
        margin-bottom: 34px;
    }
    &__phone {
        @include Montserrat;
        font-weight: $fw-Semi-bold;
        font-size: 20px;
        line-height: 32px;
        color: $color-primary-200;
        transition: all $transition ease-in-out;
        &:hover {
            color: $color-primary-100;
        }
    }
    &__date {
        font-size: $fs-x-small;
        line-height: 32px;
        color: $color-primary-500;
    }
    &__bottom {
        color: $color-primary-200;
    }
    &__email,
    &__address {
        position: relative;
        padding-left: 24px;
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 16%;
        }
    }
    &__email::before {
        background: url(../images/icon/email.svg) no-repeat;
    }
    &__address {
        margin-top: 12px;
        &::before {
            background: url(../images/icon/mark.svg) no-repeat;
        }
    }
}

.footer-copyright {
    padding: 22px 0px 16px 0px;
    color: $color-primary-200;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-secondary-400;
        height: 2px;
        width: 100%;
    }
}

@import '_media';